<section class="joinus">
        <h1>JOIN US</h1>
        <p>Join Us On Our Mission To Transform Lives</p>
    
        <div class="row">
          <div class="joinus-col">
           <img src="assets/images/employment.jpg"> 
           <h3>EMPLOYMENT AT DSHS</h3>
              <input type="checkbox" class="read-more-state" id="post-1" />
              <p class="read-more-wrap">At Washington state’s largest agency, we work to transform the lives of the 2.5 million people we serve each year. <span class="read-more-target">Our 17,500 employees engage daily with the state’s most vulnerable residents. We are known for our innovative approaches to social services and our strong belief we can accomplish our mission only through strong partnerships with communities and solid government-to-government relationships with Native American tribes. We envision a state in which all people are healthy, safe and supported and taxpayer resources are safeguarded. We value honesty and integrity, open communication, pursuit of excellence, diversity and inclusion and commitment to service.</span></p>  <label for="post-1" class="read-more-trigger"></label>    
          </div>
          <div class="joinus-col">
           <img src="assets/images/benefits.jpg"> 
           <h3>BENEFITS</h3>
              <input type="checkbox" class="read-more-state" id="post-2" />
              <p class="read-more-wrap">More than Just a Pay-check.<br>  Washington offers one of the most competitive employee benefits packages<span class="read-more-target"> in the nation. We understand that your life is about more than your career and that one of your main priorities is to ensure you and your family can maintain health and financial security. That's why choice is a key component of our benefits package. We have a selection of health and retirement plans, paid leave, training and other benefits you can mix and match to meet your current and future needs.</span></p>    <label for="post-2" class="read-more-trigger"></label>      
          </div>
          <div class="joinus-col">
           <img src="assets/images/diversityandinclusion.jpg"> 
           <h3>DIVERSITY AND INCLUSION</h3>
              <input type="checkbox" class="read-more-state" id="post-3" />
              <p class="read-more-wrap">Washington State Department of Social and Health Services is an equal opportunity employer and does not<span class="read-more-target"> discriminate in any area of employment, its programs or services on the basis of age, sex, sexual orientation, gender, gender identity/expression, marital status, race, creed, color, national origin, religion or beliefs, political affiliation, military status, honorably discharged veteran, Vietnam Era, recently separated or other protected veteran status, the presence of any sensory, mental, physical disability or the use of a trained dog guide or service animal by a person with a disability, equal pay or genetic information.</span></p>     <label for="post-3" class="read-more-trigger"></label>     
          </div>    
        
        </div>
    
    </section>
