<section class="service">
        
      <h1>SERVICES WE OFFER</h1>
      <p>Let Washington Connection Help You & Your Family Find The Services You Need.</p>  
        
      <div class="row">
          <div class="course-col">
              <h3>Food</h3>
              <p>EBT, Resources, How to apply</p>
          </div>
          <div class="course-col">
              <h3>Health Care</h3>
              <p>Washington Apple Health, Dental care, Resources, How to apply</p>
          </div>
          <div class="course-col">
              <h3>Treatment Centers</h3>
              <p>Drug and Alcohol Treatment Services</p>
          </div>
          <div class="course-col">
              <h3>Mental Health</h3>
              <p>Resources for behavioural health</p>
          </div>             
        
     </div>       
    </section>