<section class="footer">
<!--    <a href="" class="hero-btn">CONTACT US</a>-->
        <div class="copyright">
            <div class="footer-links">
	<a>
			Privacy
		</a><span class="divider">&nbsp;|&nbsp;</span>
	
		<a>
			Terms of Use
		</a><span class="divider">&nbsp;|&nbsp;</span>
		<a>
			Accessibility
		</a><span class="divider">&nbsp;|&nbsp;</span>
	
		<a>
			Cookies Policy
		</a>
</div>
            <div class="icons">
        <i class="fa fa-facebook"></i><span class="divider">&nbsp;&nbsp;</span>
        <i class="fa fa-twitter"></i><span class="divider">&nbsp;&nbsp;</span>
        <i class="fa fa-linkedin"></i><span class="divider">&nbsp;&nbsp;</span>
        <i class="fa fa-youtube"></i>        
     </div>
        </div>
        
<!--     <h4>Please tell us what you would like to know</h4>-->  
    
    </section>
