<section class="header">
    <div class="card">
          
          <div class="inner-box" id="card">
          
              <div class="card-front">
               <h2>Login</h2>
                <form>
                <input type="email" class="input-box" placeholder="Your Email Id required">
                <input type="password" class="input-box" placeholder="Password">
                <button type="submit" class="submit-btn">Submit</button>  
                <input type="checkbox"><span>Remember me</span>
               </form>  
                <button type="button" class="btn" onclick="openRegister()">I' m new here</button>
                <a href="">Forgot Password</a>  
              </div>
              <div class="card-back">
               <h2>Register</h2>
                <form>
                  <input type="text" class="input-box" placeholder="Your name">    
                  <input type="email" class="input-box" placeholder="Your Email Id required">
                  <input type="password" class="input-box" placeholder="Password">
                  <button type="submit" class="submit-btn">Submit</button>  
                  <input type="checkbox"><span>Remember me</span>
                </form>  
                <button type="button" class="btn" onclick="openLogin()">I have an account</button>
                <a href="">Forgot Password</a>  
              
              </div>
          </div>
        
        </div>
     
    <div class="text-box" id="text">      
       <h1>Transforming Lives</h1>
       <h2>How Will You Change The World?</h2>
        <p><b>Is your child a budding artist or photographer? We are hosting an art contest.<br> Please send your child's work that answers the question, "How will you change the world?"</b><br>
<!--        /*<b>We’re making P-EBT more convenient<br>-->
<!--             Now you can get text notifications to easily stay up-to-date on your child’s P-EBT benefits.-->
<!--        </b>*-->
        </p>
        <a href="" class="hero-btn">Visit us to know more</a>]
         
    </div>   
   
    </section>