<section class="ChildSupport">
        
      <h1>CHILD SUPPORT</h1>
      <p>Tranforming Lives</p>  
      
      
      <div class="row">
          <div class="ChildSupport-col">
             <img src = "assets/images/childrens.jpg">; 
              <div class="layer">
               <h3>Pay my child support?</h3>
              
              </div>
          
          </div>
          <div class="ChildSupport-col">
             <img src = "assets/images/children2.jpg">; 
              <div class="layer">
               <h3>Enroll for child support?</h3>
              
              </div>
          
          </div>
          <div class="ChildSupport-col">
             <img src = "assets/images/children3.jpg">; 
              <div class="layer">
               <h3>Receive court ordered child support</h3>
              
              </div>
          
          </div>
          
       </div> 
              
    </section>